<h1>Status</h1>
<h2>Stage</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Connection</td>
            <td>
                <span id="stage-connected"></span>
                <button id="connect-stage" style="display: none;">Connect</button>
            </td>
        </tr>
        <tr>
            <td>Position</td>
            <td id="stage-position"></td>
        </tr>
    </tbody>
</table>
<h2>Inkjet</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>USB Connection</td>
            <td>
                <span id="usb-connected"></span>
                <button id="connect-usb" style="display: none;">Connect</button>
            </td>
        </tr>
        <tr>
            <td>State</td>
            <td id="state"></td>
        </tr>
        <tr>
            <td>Error-Flags</td>
            <td id="error-flags"></td>
        </tr>
    </tbody>
</table>
<h2>Waveform</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Voltage</td>
            <td><span id="voltage"></span> V</td>
        </tr>
    </tbody>
</table>
<h2>Pressure Control</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Current-Pressure</td>
            <td><span id="current-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Enabled</td>
            <td id="pressure-control-enabled"></td>
        </tr>
        <tr>
            <td>Done</td>
            <td id="pressure-control-done"></td>
        </tr>
    </tbody>
</table>
<h2>Print Control</h2>
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>Encoder Mode</td>
            <td id="encoder-mode"></td>
        </tr>
        <tr>
            <td>Sequential Fires</td>
            <td id="sequential-fires"></td>
        </tr>
        <tr>
            <td>Fire Every Ticks</td>
            <td id="fire-every-ticks"></td>
        </tr>
        <tr>
            <td>Print First Line After Encoder Tick</td>
            <td id="print-first-line-after-encoder-tick"></td>
        </tr>
        <tr>
            <td>Encoder Value</td>
            <td id="encoder-value"></td>
        </tr>
        <tr>
            <td>Expected Encoder Value</td>
            <td id="expected-encoder-value"></td>
        </tr>
        <tr>
            <td>Last Printed Line</td>
            <td id="last-printed-line"></td>
        </tr>
        <tr>
            <td>Lost Lines Count</td>
            <td id="lost-lines-count"></td>
        </tr>
        <tr>
            <td>Lost Lines by slow Data</td>
            <td id="lost-lines-by-slow-data"></td>
        </tr>
        <tr>
            <td>Printed Lines</td>
            <td id="printed-lines"></td>
        </tr>
        <tr>
            <td>Nozzle Priming</td>
            <td id="nozzle-priming-active"></td>
        </tr>
    </tbody>
</table>