<h1>Status</h1>
<h2>Stage</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Connection</td>
            <td>
                <span id="stage-connected"></span>
                <button id="connect-stage" style="display: none;">Connect</button>
            </td>
        </tr>
    </tbody>
</table>
<h2>Inkjet</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>USB Connection</td>
            <td>
                <span id="usb-connected"></span>
                <button id="connect-usb" style="display: none;">Connect</button>
            </td>
        </tr>
        <tr>
            <td>State</td>
            <td id="state"></td>
        </tr>
        <tr>
            <td>Error-Flags</td>
            <td id="error-flags"></td>
        </tr>
    </tbody>
</table>
<h2>Pressure Control</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Current-Pressure</td>
            <td><span id="current-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Enabled</td>
            <td id="pressure-control-enabled"></td>
        </tr>
        <tr>
            <td>Done</td>
            <td id="pressure-control-done"></td>
        </tr>
        <tr>
            <td>Target-Pressure</td>
            <td><span id="pressure-control-target-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Direction</td>
            <td id="pressure-control-direction"></td>
        </tr>
        <tr>
            <td>FeedTime</td>
            <td><span id="pressure-control-feed-time"></span> s</td>
        </tr>
        <tr>
            <td>FeedPWM</td>
            <td><span id="pressure-control-feed-pwm"></span></td>
        </tr>
        <tr>
            <td>Limit Pressure</td>
            <td><span id="pressure-control-limit-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Algorithm</td>
            <td id="pressure-control-algorithm"></td>
        </tr>
    </tbody>
</table>