fp-info-cache
fp-lib-table
_autosave-*.kicad_pcb
~*.kicad_sch.lck
~_autosave-*.kicad_pcb.lck
FPC_Adapter/FPC_Adapter-Edge_Cuts.svg
FPC_Adapter/FPC_Adapter-F_Paste.svg
Strobe/Strobe.csv
\#auto_saved_files#