.app-inspect__container {
    display: grid;
    grid-template-columns: 4fr minmax(18em, 1fr);
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas:
        "content imagelist";
    gap: 1em;

    canvas {
        grid-area: content;
        width: 100%;
    }

    image-list {
        grid-area: imagelist;
        overflow-y: auto;
        min-height: 100%;
        height: 0;
    }

}