<form id="print-options-form">
    <div>
        <label for="fire-every">DPI</label>
        <select name="fire-every" required="required" id="fire-every">
            <option value="1">720</option>
            <option value="2">360</option>
            <option value="3">240</option>
            <option value="4">180</option>
            <option value="5">144</option>
            <option value="6">120</option>
            <option value="7">102</option>
            <option value="8">90</option>
        </select>
    </div>
    <div>
        <label for="first-layer-height">First Layer Height</label>
        <input type="number" name="first-layer-height" required="required" id="first-layer-height" value="0" min="0"
            max="10" step="0.01">
    </div>
    <div>
        <label for="bed-temperature">Bed Temperature</label>
        <input type="number" name="bed-temperature" required="required" id="bed-temperature" value="0" min="0" max="100"
            step="1"> <span>°C</span>
    </div>
    <div>
        <label for="voltage">Waveform Voltage</label>
        <input type="number" name="voltage" required="required" id="voltage" value="28" min="16" max="35.6" step="0.01">
    </div>
    <div>
        <label for="clock">Waveform Clock</label>
        <input type="number" name="clock" required="required" id="clock" value="500" min="500" max="1500" step="1"> <span>kHz</span>
    </div>
    <div>
        <label for="inkpressure">Ink Pressure</label>
        <input type="number" name="inkpressure" required="required" id="inkpressure" value="-0.5" min="-10" max="10" step="0.1"> <span>mbar</span>
    </div>
    <label for="drying-time">Drying Time</label>
    <div class="input-group">
        <input type="number" id="drying-time" name="drying-time" min="0" step="0.1"> <span>s</span>
    </div>
    <div>
        <label for="drying-temperature">Drying Temperature</label>
        <input type="number" name="drying-temperature" required="required" id="drying-temperature" value="0" min="0"
            max="140" step="1"> <span>°C</span>
    </div>
    <label for="skip-nozzles">Skip Nozzles</label>
        <div class="input-group">
            <input type="number" id="skip-nozzles" name="skip-nozzles" min="0" max="8" step="1">
        </div>
        <label for="offset-every-other-layer-by-ticks">Offset Every Other Layer By</label>
        <div class="input-group">
            <input type="number" id="offset-every-other-layer-by-ticks" name="offset-every-other-layer-by-ticks" min="0"
                max="8" step="1">
            <span> ticks</span>
        </div>
        <label for="offset-every-other-layer-by-nozzles">Offset Every Other Layer By</label>
        <div class="input-group">
            <input type="number" id="offset-every-other-layer-by-nozzles" name="offset-every-other-layer-by-nozzles"
                min="0" max="8" step="1">
            <span> nozzles</span>
        </div>
    <button>Save</button>
</form>