@use "../../theme.scss";
@use "sass:color";

.app-container {
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "header header header"
        "content camera status";
    height: 100vh;
}

.content {
    padding: 0.5em;
    grid-area: content;
}


%menu-surface {
    background-color: theme.$theme-color;

    button,
    a.button {
        &:not(:disabled) {

            background-color: color.scale(theme.$theme-color, $lightness: 50%);
            color: #000;

            &:hover {
                background-color: color.scale(theme.$theme-color, $lightness: 60%);
            }

            &:active {
                background-color: color.scale(theme.$theme-color, $lightness: 40%);
            }
        }



    }
}

.app-header {
    @extend %menu-surface;
    grid-area: header;
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%sidebar {
    box-shadow: -0.2em 0px 0.2em 0px #ddd;
    padding: 0.5em;
    margin-left: 0.5em;
}

.app-status {
    grid-area: status;
    @extend %sidebar;
}

.camera-view {
    grid-area: camera;

    width: 45em;

    @extend %sidebar;
}


.app-navigation {
    align-self: flex-end;
    display: block;
    padding: 0.3em 0 0 0;

    a.button {
        margin-top: 0.2em;
        display: inline-block;
        padding: 0.5em 1em;
        color: #000;
        text-decoration: none;
        border-radius: 0.3em 0.3em 0 0;
        // margin-right: 0.;
        border-bottom: 1px solid color.scale(theme.$theme-color, $lightness: -20%);

        &.current {
            background-color: color.scale(theme.$theme-color, $lightness: 90%);
        }
    }
}