#canvas-container {
    width: 100%;
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
}

#print-canvas {
    flex-grow: 1;
}

print-bed-simulation {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.print-bed-simulation {
    &__controls {
        display: flex;

        input[type="range"] {
            flex-grow: 1;
        }
    }
}