<h1>Ink Control</h1>
<app-chart class="ink-control__chart"></app-chart>
<div>
    <form id="ink-control-form">
        <div>
            <label for="action">Action</label>
            <select id="action" name="action">
                <option value=""></option>
                <option value="priming">Nozzle Priming</option>
                <option value="fillflushtank">Fill Flush Tank</option>
                <option value="targetpressure">Control Pressure</option>
            </select>
        </div>
        <fieldset id="nozzle-priming-group">
            <div>
                <label for="feed-time">Feed Time</label>
                <input type="number" name="feed-time" required="required" id="feed-time" value="5" step="0.1" min="0"> s
            </div>
            <div>
                <label for="feed-limit-pressure">Feed Limit Pressure</label>
                <input type="number" name="feed-limit-pressure" required="required" id="feed-limit-pressure" value="20" step="0.1"> mbar
            </div>
            <div>
                <label for="feed-limit-pwm">Feed Limit PWM</label>
                <input type="number" name="feed-limit-pwm" required="required" id="feed-limit-pwm" value="0.8" step="0.1" min="0" max="1"> 
            </div>
        </fieldset>
        <fieldset id="target-pressure-group">
            <div>
                <label for="target-pressure">Setpoint</label>
                <input type="number" name="target-pressure" required="required" id="target-pressure" value="0" step="0.1"> mbar
            </div>
        </fieldset>

        <div>
            <button id="btn-start">Send</button>
        </div>
    </form>
    <button id="btn-stop">Stop Pressure Control</button>
</div>