<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Target-Pressure</td>
            <td><span id="pump-target-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Direction</td>
            <td><span id="pump-direction"></span></td>
        </tr>
        <tr>
            <td>FeedTime</td>
            <td><span id="pump-feed-time"></span> s</td>
        </tr>
        <tr>
            <td>FeedPWM</td>
            <td><span id="pump-feed-pwm"></span></td>
        </tr>
        <tr>
            <td>Max Pressure</td>
            <td><span id="pump-max-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Min Pressure</td>
            <td><span id="pump-min-pressure"></span> mbar</td>
        </tr>
        <tr>
            <td>Algorithm</td>
            <td><span id="pump-algorithm"></span></td>
        </tr>
    </tbody>
</table>