.nozzle-select {
    display: grid;
    grid-template-columns: repeat(16,minmax(2em,min-content));
}

.video-element {
    // margin: 0.5em;
    width: 50%;
    // box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.video-container {
    padding: 0.5em 0;
}

.frame-container {
    padding: 0.5em 0;
    & canvas {
        width: 50%;
        // box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        // transform: scaleY(-1);
    }
}