<div id="no-model-selected">
    Please select a model
</div>
<div id="model-params">
    <h3>Model Parameters</h3>
    <div>
        Name: <strong>
            <span id="model-name"></span>
        </strong>
    </div>
    <div>
        Layers: <strong>
            <span id="model-layers"></span>
        </strong>
    </div>
    <form>
        <label for="skip-nozzles">Skip nozzles</label>
        <div class="input-group">
            <input type="number" id="skip-nozzles" name="skip-nozzles" min="0" max="8" step="1" value="0" required>
        </div>
    </form>
</div>