config INKJETCONTROL
	bool "Support for inkjetcontrol library"
	help
	  This option enables the 'inkjetcontrol' library

if INKJETCONTROL

module = INKJETCONTROL
module-str = inkjetcontrol
source "subsys/logging/Kconfig.template.log_config"

endif # INKJETCONTROL