#define PRINTHEAD_CLOCK_NS PWM_HZ(1000000)
#define MAX_FIRE_FREQUENCY PWM_HZ(4250)

/ {
	zephyr,user {
		io-channels =  <&hv_adc 0>;
	};

    ink_pump: ink_pump {
		status = "okay";
		compatible = "toshiba,tb6612fng";
		pwms = <&pwm_pump 3 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
		in1-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		in2-gpios = <&gpiog 6 GPIO_ACTIVE_HIGH>;
	};

	capping_pump: capping_pump {
		status = "okay";
		compatible = "toshiba,tb6612fng";
		pwms = <&pwm_pump 1 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
		in1-gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
		in2-gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
	};

	controlpins: controlpins {
		compatible = "gpio-leds";
		nSS2: nSS2 { //these will be handled in the printhead driver
			gpios = <&gpiog 9 GPIO_ACTIVE_LOW>;
		};
		nSS1: nSS1 {
			gpios = <&gpioe 14 GPIO_ACTIVE_LOW>;
		};
		PHO: PHO {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
		};

		//outputs
		vpp_en: vpp_en {
			gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;
		};
		comm_enable: comm_enable {
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		};
		n_reset_mcu: n_reset_mcu {
			gpios = <&gpioc 2 GPIO_ACTIVE_HIGH>;
		};
		vpp_enable_cp: vpp_enable_cp {
			gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
		};
		reset_disable_cp: reset_disable_cp {
			gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
		};
	};

	monitorpins: monitorpins {
		compatible = "gpio-keys";

		READY: READY {
			gpios = <&gpiof 11 GPIO_ACTIVE_HIGH>;
		};
		nFAULT: nFAULT {
			gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
		};

		//inputs
		n_reset_fault: n_reset_fault {
			gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
		};
		n_reset_in: n_reset_in {
			gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
		};
	};

    printhead_voltage: printhead_voltage {
    	compatible = "voltage-divider";
    	io-channels = <&hv_adc 0>;
    	output-ohms = <12000>;
    	full-ohms = <(100000 + 12000)>;
    };
};


&pll {
	div-m = <1>;
	mul-n = <24>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(96)>;
	d1cpre = <1>;
	hpre = <1>;
	d1ppre = <1>;
	d2ppre1 = <2>;
	d2ppre2 = <1>;
	d3ppre = <1>;
};

&timers4 {
	st,prescaler = <0>;

	status = "okay";
	pwm_clk: pwm {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&tim4_ch4_pd15>;
	};
};

&timers2 {
	status = "okay";
	st,prescaler = <64>;

	pwm_pump: pwm {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&tim2_ch3_pa2 &tim2_ch1_pa0>;
	};	
};

&timers1 {
	st,prescaler = <0>;
	status = "okay";

	interrupts = <24 1>, <25 1>, <26 0>, <27 1>;

	printer_fire: printer_fire {
		compatible = "st,fire-stm32-combined-pwm";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&tim1_ch2_pe11 &tim1_ch3_pe13>;
		pulse12_start = <(PRINTHEAD_CLOCK_NS/4)>;
		pulse34_start = <(PRINTHEAD_CLOCK_NS/4)>;
		pulse12_end = <((PRINTHEAD_CLOCK_NS/4) + PRINTHEAD_CLOCK_NS)>;
		pulse34_end = <(2*PRINTHEAD_CLOCK_NS)>;
		min_mask_period = <MAX_FIRE_FREQUENCY>;
		#printer-fire-cells = <0>;
		encoder_timer = <&timers3>;
		clock_timer = <&timers4>;
		encoder_timer_trigger = <0>; // ITR0 -> timer15
		clock_timer_trigger = <((1<<4)|(2<<4))>; // ITR3 -> timer4
	};
};

&timers3 {
	st,prescaler = <0>; // apb 1
	status = "okay";

	interrupts = <29 1>;

	qdec: qdec {
		compatible = "st,stm32-qdec-linear";
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pb4 &tim3_ch2_pc7>;
		pinctrl-names = "default";
		st,input-polarity-inverted;
		st,input-filter-level = <15>; // f/32, n=8
		st,encoder-mode = <3>;
		encoder-xor-timer = <&timers15>;
		encoder-xor-timer-remap = <((2<<0)|(2<<8))>; // LL_TIM_TIM15_TI1_RMP_TIM3_CH1 | LL_TIM_TIM15_TI2_RMP_TIM3_CH2
	};
};

&timers15 {
	st,prescaler = <0>;
	status = "okay";
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_mosi_pa7 &spi1_sck_pa5>;
	printhead: printhead@0 {
		compatible = "xaar,xaar128";
		pwms= <&pwm_clk 4 PRINTHEAD_CLOCK_NS PWM_POLARITY_INVERTED>;
		reg = <0>;
		spi-max-frequency = <2000000>;
		nss1-gpios = <&gpioe 14 GPIO_ACTIVE_LOW>;
		nss2-gpios = <&gpiog 9 GPIO_ACTIVE_LOW>;
		ready-gpios = <&gpiof 11 GPIO_ACTIVE_HIGH>;
		printer-fires = <&printer_fire>;
	};
};

&spi3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi3_miso_pc11 &spi3_sck_pc10>;
	cs-gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;
	abp: abp@0 {
		status = "okay";
		compatible = "honeywell,abp";
		reg = <0>;
		spi-max-frequency = <400000>;
	};
};

&usart3 {
	interrupts = <39 1>;
};

&usbotg_hs {
	interrupts = <77 1>, <74 1>, <75 1>;
};

&exti {
	interrupts = <6 1>, <7 1>, <8 1>, <9 1>,
				     <10 1>, <23 1>, <40 1>;
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_sda_pb9 &i2c1_scl_pb8>;
	hv_adc: adc@4d {
		status = "okay";
		compatible = "mcp,mcp3021";

		#io-channel-cells = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
		
		
		reg = <0x4d>;

		ref-internal-mv = <5000>;

		channel@0 {
			reg = <0>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,resolution = <10>;
		};
	};

	hv_dac: dac@60 {
		status = "okay";
		compatible = "microchip,mcp4725hotplug";
		
		#io-channel-cells = <1>;
		#address-cells = <1>;
		#size-cells = <0>;

		reg = <0x60>;

	};
};
