<form class="inline">
    <label for="view-mode">View Mode</label>
    <select id="view-mode" name="view-mode">
        <option value="layerPlan">Layerplan</option>
        <option value="rasterization">Rasterization</option>
        <option value="printingTrack">Printing</option>
    </select>
    <label for="model-group">Model Group</label>
    <select id="model-group" name="model-group">
    </select>
    <label for="track-increment">Track Increment</label>
    <input type="number" id="track-increment" name="track-increment" value="0">
    <label for="even-odd-view">Even/Odd Mode</label>
    <input type="checkbox" id="even-odd-view" name="even-odd-view">
</form>