<h1>Print</h1>
<button id="start-print">Start Print</button>
<button id="cancel-print">Cancel Print</button>
<button id="zero-encoder">Zero Encoder</button>
<button id="reset-encoder">Reset Encoder</button>
<button id="enter-print">Enter Print</button>
<button id="enter-idle">Enter Idle</button>
<button id="home">Home</button>
<button id="go-start">Go Y175</button>
<button id="go-end">Go Y0</button>
<h2>Printbed</h2>
<print-bed-simulation></print-bed-simulation>
<h2>
    Runner
</h2>
<pre id="program-runner-state"></pre>
<h2>
    Program
</h2>
<pre id="current-program"></pre>