<div class="print-container">
    <div class="app-print__buttons">
        <button id="start-print">Start Print</button>
        <button id="pause-print">Pause Print</button>
        <button id="cancel-print">Cancel Print</button>
        <button id="insert-special">Insert Special...</button>
        <button id="enter-print">Enter Print</button>
        <button id="enter-idle">Enter Idle</button>
        <button id="home">Home</button>
        <button id="nozzle-priming">Nozzle Priming</button>
        <button id="test-nozzle-pattern">Test Nozzle Pattern</button>
        <button id="generate-voltage-test">Generate Voltage Test!</button>
        <button id="generate-clock-test">Generate Clock Test!</button>
        <button id="test-set-voltage">Set Voltage Max</button>
    </div>
    <h2>Printbed</h2>
    <print-bed-view-state-control></print-bed-view-state-control>
    <div>
        
        <button id="slice-first-track">First</button>
        <button id="slice-next-track">Next</button>
        <button id="place-photo-point">Place Photo Point</button>
        <button id="move-camera-to">Move Camera To</button>
    </div>
    <div class="printbed-container">
        <print-bed-simulation></print-bed-simulation>
        <model-list></model-list>
        <model-params></model-params>
    </div>
    <h2>General Print Options</h2>
    <div>
        <print-options></print-options>
    </div>
</div>

<dialog id="insert-special-dialog">
    <form method="dialog">
        <p>
            <label for="special">Model(s)</label>
            <select id="special" name="special-model">
                <option value="none"></option>
                <option value="8x8square">8x8 Square</option>
                <option value="test-nozzle-pattern">Test Nozzle Pattern</option>
                <option value="test-nozzle-pattern2">Test Nozzle Pattern 2</option>
                <option value="test-code">Test Code</option>
                <option value="voltage-test">Voltage Test</option>
                <option value="clock-test">Clock Test</option>
            </select>
        </p>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</dialog>